name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install MoonBit
        run: |
          /bin/bash -c "$(curl -fsSL https://cli.moonbitlang.com/install/unix.sh)"
          echo "/home/runner/.moon/bin" >> $GITHUB_PATH

      - name: Show MoonBit version
        run: moon version --all

      - name: Update registry
        run: moon update

      - name: Install dependencies
        run: moon install

      - name: Check
        run: moon check --target native

      - name: Build
        run: moon build --target native

      - name: Test
        run: moon test --target native

      - name: Format check
        run: |
          moon fmt
          git diff --exit-code
